{% extends 'base.html.twig' %}

{% block title %}Edit Suivit{% endblock %}

{% block body %}
    <h1>Edit Suivit</h1>

    {{ include('suivit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_suivit_index') }}">back to list</a>

    {{ include('suivit/_delete_form.html.twig') }}
{% endblock %}
