{% extends 'base.html.twig' %}

{% block title %}New Suivit{% endblock %}

{% block body %}
    <h1>Create new Suivit</h1>

    {{ include('suivit/_form.html.twig') }}

    <a href="{{ path('app_suivit_index') }}">back to list</a>
{% endblock %}
