{% extends 'base.html.twig' %}

{% block body %}
  <!-- Page Header Start -->
  <div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>مستجدات</h2>
        </div>
        <div class="col-12">
          <a href="">الاستقبال</a>
          <a href="">تجارب نموذجية</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Header End -->
{% endblock %}
